wifi_ssid: "YourWiFi"
wifi_password: "YourWiFiPassword"
mqtt_broker: "192.168.1.10"
mqtt_username: "spa"
mqtt_password: "YourMqttPassword"
ota_password: "generate-a-random-string"
ap_password: "fallback-ap-password"
